.card {
    border: none;
    border-radius: 8px;
    max-width: 80%;
    overflow: hidden;
    background-color: var(--bs-white);
}

@media only screen and (max-width: 768px) {
    .card {
        max-width: 100%;
        margin-bottom: 35px;
    }
  }

.card-body {
    margin: 15px;
}

.floating-input {
    border-top: none;
    border-right: none;
    border-left: none;
}

.submit-button {
    width: 100%;
    padding: 15px;
}

.form-error {
    position: absolute;
    bottom: -25px;
    left: 27%;
}